
body {
    background-color: #702323;
}

#Beauty_Portrait {
    max-width: 40%;
    height: auto;
    align-self: auto;
    background-position: top;
}


h1 {
    font-family: 'Rancho', cursive;
    font-size: 700%;
    color: #ffffac;
    background-color: #702323;
    text-align: center;
}

#instructions {
    font-family: 'Rancho', cursive;
    font-size: 30px;
    color: #ffffac;
    background-color: #702323;
    text-align: center;
}

#horseshoe {
    padding-top: 20px;
    max-width: 25%;
}

#gameRow {
    text-align: center;
    margin-top: 30px;
}

#gameCol {
    text-align: center;
    border: 5px solid #ffffac;
    border-radius: 10px;
    padding: 30px;
    min-height: 300px;
    margin-bottom: 60px;
}

#startButton {
    background-color: #ffffac;
    color: black;
    border: 1px solid #000000;    
    font-size: 200%;
    letter-spacing: 2px;
    padding: 20px 50px;
}

#startButton:hover {
    background-color: black;
    color: #ffffac;
    border: 1px solid #ffffac;    
}

#timeLeft {
    font-family: 'Rancho', cursive;
    font-size: 300%;
    color: #ffffac;
    letter-spacing: 2px;
    font-weight: 500;
}

#currentQuestion {
    font-family: 'Rancho', cursive;
    color: white;
    text-align: left;
    font-size: 100%;
}

.question {
    font-family: 'Rancho', cursive;
    color: white;
    font-size: 250%;
    margin-bottom: 30px;
    margin-top: 10px;
}

.answerList {
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    color: #ffffac;
    font-size: 150%;
    line-height: 2.5;
    margin-bottom: 30px;
}

.thisChoice:hover {
    background-color: #ffffac;
    color: black;
}

#message {
    font-family: 'Rancho', cursive;
    color: white;
    font-size: 250%;
    margin-bottom: 10px;
}

#correctedAnswer {
    color: #ffffac;
    font-size: 100%;
    text-transform: uppercase;   
}

#gif {
    margin-bottom: 20px;
    margin-top: 20px; 
}

.gifImg {
    max-height: 200px;
    max-width: 320px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

#gifCaption {
    color: #ffffac;
    font-size: 175%;
}

.reset {
    background-color: #ffffac;
    color: black;
    border: 1px solid #000000;
    font-size: 200%;
    letter-spacing: 2px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px 20px;
    margin-top: 30px;
    border-radius: 5px;
}

.reset:hover {
    background-color: black;
    color: #ffffac;
    border: 1px solid #ffffac;    
}

#finalMessage {
    color: white;
    font-size: 200%;
    margin-bottom: 30px;
    margin-top: 10px;
}

#correctAnswers, #incorrectAnswers, #unanswered {
    color: #ffffac;
    font-size: 150%;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
}